@font-face {
    font-family: 'SentaSans';
    src: url('/src/SentaSans_Font/SentaSans_Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'SentaSans';
    src: url('/src/SentaSans_Font/SentaSans_Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SentaSans';
    src: url('/src/SentaSans_Font/SentaSans_Bold.ttf') format('truetype');
    font-weight: 600;
}

body {
    font-family: 'SentaSans', sans-serif;
}


.custom_shadow{
    box-shadow: 0px 4px 6px #26262640;
}


@media (min-width: 1024px) {
    .swiper2 .swiper-slide-next{
        transform: scale(1.2) !important;
    }
}


.custom_rotate{
    transform: rotate(180deg) !important;
    transition: all 0.1s ease-in-out !important;
}


.animate-shimmer {
    background: linear-gradient(90deg, rgba(165, 165, 165, 0.24) 25%, rgba(255, 255, 255, 0.31) 50%, rgba(165, 165, 165, 0.228) 75%);
    background-size: 1000px 100%;
}

.swiper-button-prev-custom:hover svg{
    fill: white;
    transition: all 0.2s;
}

.swiper-button-next-custom:hover svg{
    fill: white;
    transition: all 0.2s;
}